<div class="container">
	<aside id="sidebar">
		<h1>{{siteTitle}}</h1>
		<nav id="sidebar-nav">
			<a href="/">Dashboard</a>
			<span class="divider"></span>

			<a href="/apply">Application</a>
			<span class="divider"></span>
			
			{{#if user.accepted}}
				<a href="#">Confirmation</a>
				<span class="divider"></span>
			{{/if}}
			
			{{#if settings.teamsEnabled}}
				<a href="#">Team</a>
				<span class="divider"></span>
			{{/if}}
			
			{{#if user.admin}}
				<a href="/admin">Admin</a>
				<span class="divider"></span>
			{{/if}}
			
			<a href="/auth/logout">Log out</a>
		</nav>
		<p>{{user.name}} ({{user.email}})</p>
	</aside>
	<main class="col-9">
		{{> @partial-block }}
	</main>
</div>
