nav.row > a {
    width: 100%;
}
section > h2 {
    text-align: center;
    margin-top: 0.4em;
    font-size: 4rem;
}
table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}
table th, table td {
    vertical-align: middle;
    padding: 12px 4px;
}
table td:last-child {
    width: 50px;
    text-align: center;
}
#applicants table td:last-child {
    width: 140px;
}
#applicants table th:nth-child(n - 1), #applicants table th:last-child {
    width: 140px;
}
#applicants table > tbody > tr:nth-child(2n) {
    border-bottom: 1px solid #333030;
}
#applicants table > tbody > tr:last-child {
    border-bottom: none;
}
table thead {
    border-bottom: 2px solid #333030;
}
#settings > .row {
    text-align: center;
}

/* Make section button text smaller on small screens */
@media (max-width: 550px) {
	nav.row > a {
        font-size: 1.2rem;
    }
}

/* Extend Wing's input styles to cover additional types
 * See https://github.com/KingPixil/wing/issues/8
 */
input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=reset]), select, fieldset {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: 'Open Sans';
}
fieldset {
	padding: 8px 20px;
}
textarea {
	resize: vertical;
}
input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=reset]):focus,
textarea:focus,
textarea[type=text]:focus {
    border: 1px solid #99b3ff;
    border-radius: 4px;
}
.applicantData {
    text-align: left;
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 0;
}
.accepted-btn-true {
    background-color: #e74c3c;
}
.accepted-btn-false {
    background-color: #333030;
}

.axis {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
rect.bar {
    cursor: pointer;
}
rect.bar:hover {
    opacity: .85;
}