h1 {
    text-align: center;
}
/* Apply Wing's h5 styles to labels and legends */
@media (min-width: 550px) {
	label {
		font-size: 2.4rem;
	}
}
label {
	display: inline;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 300;
    font-family: "Quicksand";
}
/* Extend Wing's input styles to cover additional types
 * See https://github.com/KingPixil/wing/issues/8
 */
input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=reset]), select, fieldset {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: 'Open Sans';
}
form > h1,
form > h2,
form > h3,
form > h4,
form > h5,
form > h6 {
    text-align: center;
}
form > p {
    font-family: "Quicksand";
}
fieldset {
	padding: 8px 20px;
}
textarea {
	resize: vertical;
}
input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=reset]):focus,
textarea:focus,
textarea[type=text]:focus {
    border: 1px solid #99b3ff;
    border-radius: 4px;
}
