h1 {
	margin-bottom: 35px;
}
.main {
    padding: 40px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.row:first-of-type h2, .row:first-of-type h4 {
	margin: 0;
}
.row:first-of-type > .col-6 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.row:first-of-type > .col-6:last-child {
	text-transform: uppercase;
}
p:first-of-type {
	text-align: center;
}
p {
	font-size: 1.6rem;
}
.btn {
	display: block;
	margin: 0 auto;
}
#qrCode {
	width: 100%;
	text-align: center;
}

#qrCode > svg {
	width: 50%;
	height: auto;
}

/* Timeline */
ul.timeline {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	overflow-x: hidden;
}
ul.timeline > li {
	position: relative;
}
ul.timeline > li::before {
	content: attr(data-pending);
	margin-bottom: 20px;
	padding: 0 15px;
	font-weight: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	white-space: nowrap;
}
ul.timeline > li > div::before {
	display: block;
	content: "";
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 25px;
	border: 1px solid #ddd;
	position: absolute;
	top: 31px;
}
ul.timeline > li > div {
	height: 95px;
	padding: 0 10px;
	display: flex;
	justify-content: center;
	border-top: 2px solid #D6DCE0;
	text-align: center;
}
ul.timeline > li.complete::before {
	content: attr(data-complete);
}
ul.timeline > li.complete > div {
	border-top: 2px solid #66DC71;
}
ul.timeline > li.complete > div::before {
	content: "✔";
	background-color: #66DC71;
	color: white;
	border: none;
}
ul.timeline > li.warning::before {
	content: attr(data-warning);
}
ul.timeline > li.warning > div {
	border-top: 2px solid #FFDC00;
}
ul.timeline > li.warning > div::before {
	content: "!";
	background-color: #FFDC00;
	color: black;
	border: none;
}
ul.timeline > li.rejected::before {
	content: attr(data-rejected);
} 
ul.timeline > li.rejected > div {
	border-top: 2px solid #FF4136;
}
ul.timeline > li.rejected > div::before {
	content: "✕";
	background-color: #FF4136;
	color: white;
	border: none;
}
ul.timeline > li > div > h4 {
	display: block;
	font-size: 1.7rem;
	font-weight: 600;
}
@media screen and (max-width: 768px) {
	ul.timeline {
		flex-direction: column;
		overflow-x: visible;
	}
	ul.timeline > li {
		width: 100%;
		margin-bottom: -10px;
	}
}
