h1 {
	margin-bottom: 64px;
	text-align: center;
}
a > i {
	margin-right: 10px;
	transform: scale(1.5);
}
a.github {
	color: white;
	background-color: #444444;
}
a.google {
	color: white;
	background-color: #4285F4;
}
a.facebook {
	color: white;
	background-color: #3b5998;
}
#error, #success {
	text-align: center;
	margin-top: 1em;
	font-size: 2rem;
	margin-bottom: -1em;
	color: white;
	padding: 10px;
	border-radius: 5px;
}
#error {
	background-color: rgba(255, 65, 54, 0.85);
}
#success {
	background-color: #3D9970;
}
#error:empty, #success:empty {
	display: none;
}
