body, .row {
	margin: 0;
	padding: 0;
}
.container {
	margin-bottom: 0;
}
main {
	margin-bottom: 40px;
}

#sidebar > h1 {
	margin: 15px 0 0 0;
	text-align: center;
	font-size: 2.5rem;
}
#sidebar >  p {
	margin: 10px 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

#sidebar-nav {
	margin: 15px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;

	color: #333030;
	background: #fff;
	font-family: inherit;
	font-weight: 500;
	overflow: hidden;

	box-sizing: border-box;
}
@media screen and (max-width: 768px) {
	#sidebar {
		border-bottom: 1px solid #333030;
		padding-bottom: 15px;
	}
	#sidebar-nav {
		flex-direction: column;
	}
	#sidebar-nav > * {
		border-right: none !important;
	}
}
#sidebar-nav > * {
	border-right: 1px solid #333030;
	height: 20px;
}
#sidebar-nav > *:last-child {
	border-right: none;
}
#sidebar a, #sidebar {
	text-align: center;
	font-family: "Quicksand";
	color: #333030;
}
#sidebar-nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	
	padding: 12px 20px;
	cursor: pointer;
	user-select: none;

	-webkit-transition: all 60ms ease-in-out;
	transition: all 60ms ease-in-out;
	
	text-align: center;
	white-space: nowrap;
	text-decoration: none !important;
	text-transform: uppercase;
	font-size: 1.8rem;
}
#sidebar-nav a:hover {
	-webkit-transition: all 60ms ease;
	transition: all 60ms ease;
	opacity: .85;
}
#sidebar-nav a:active {
	-webkit-transition: all 60ms ease;
	transition: all 60ms ease;
	-webkit-transform: scale(0.97);
			transform: scale(0.97);
	opacity: .75;
}
#sidebar-nav a:focus {
	outline: none;
}

.swal2-modal {
	font-family: "Open Sans";
}