p {
	text-align: center;
}
.selection {
	display: flex;
}
.selection > a {
	min-width: 25%;
}

#box {
	border: white;
	border-radius: 15px;
	border-width: 2px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;

}

@media only screen and (max-width: 768px) {
    .selection {
        display: block;
    }
}