@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono|VT323");

/* Colors */
html, body, #sidebar-nav {
    background-color: #081517;
    color: #c4fbf5;
}
#sidebar a, #sidebar, .editor-toolbar > a {
    color: #c4fbf5;
    border: none;
    text-decoration: initial;
}
.editor-toolbar > a {
    color: #c4fbf5 !important;
}
.editor-toolbar a.active, .editor-toolbar a:hover {
    border-color: #081517;
    background-color: rgba(196, 251, 245, 0.2);
    outline: none;
}
#sidebar-nav > span.divider, .main, table thead {
    border-color: #c4fbf5;
}
a {
    color: #c4fbf5;
    text-decoration: none;
    border-bottom: 1px dotted;
    cursor: pointer;
}
a:hover {
    border-bottom-style: solid;
}
#email-rendered {
    background-color: #081517;
    border: 1px solid #c4fbf5;
}

/* Buttons */
.btn, [type=submit], button, .accepted-btn-false {
    background-color: #c4fbf5;
     /* border: 2px solid #03565c;  */
    color: #081517;
}

/* Fonts */
body, swal2-content, form > p, fieldset > div > label {
    font-family: "Droid Sans Mono";
}
fieldset > div > label {
    font-size: 90%;
}
h1, h2, h3, h4, h5, h6, code, #sidebar a, #sidebar, label {
    font-family: "VT323";
}
code {
    color: #081517;
}

/* Form elements */
input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=reset]), select, fieldset, textarea {
    background-color: #081517;
    color: white;
    border-color: #c4fbf5;
    font-family: "Droid Sans Mono";
}
input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=reset]):focus, textarea:focus, textarea[type=text]:focus {
    border-color: white;
}
input:disabled, textarea:disabled {
    background: repeating-linear-gradient(45deg, #081517, #081517 10px, #192729 10px, #192729 20px )
}
